@import 'base.css';
@import 'html.css';


/* main.css - 모바일 웹뷰 특화 메인 스타일 */

.header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 2.5rem 0;
}

.header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.09375rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    padding: 1rem;
}

.navbar a {
    color: white;
    padding: 0 0.625rem;
}



.footer {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}